{% extends "index.html" %}

{% block main_content %}
<div class="notice-box">
    <p>
        本页面是{{ current_university }}在{{ current_deadline }}的招生要项中文翻译。<br />
        翻译工作由AI（2025年度以Google Gemini为主DeepSeek为辅，2026年度起改用OpenAI的GPT-4.1）完成，可能存在错误或不准确的地方。<br />
        为了保证不耽误你的升学，还请务必访问大学官网确认更加准确的信息。<br />
        <a href="{{ url_for('university_original', name=current_university) }}">点击这里查看原文</a>
        <a href="{{ url_for('university_report', name=current_university) }}">点击这里查看基础分析报告</a>
    </p>
</div>

{{ content | safe }}
{% endblock %}
